@using Microsoft.AspNetCore.Identity;
@using ProyectoFinal.ViewModels
@model CreateNominaViewModel
@inject UserManager<AppUser> UserManager

@{
    var userName = User.Identity.Name;
    var userId = "";
    var userCUI = "";
    if (!string.IsNullOrEmpty(userName))
    {
        var user = await UserManager.FindByNameAsync(userName);
        if (user != null)
        {
            userId = user.Id;
            userCUI = user.CUI;
        }
    }
}
@section Header
    {
    <div class="container">
        <header class="header">
            <nav class="nav-bar">
                <a class="logo" href="#">CONSULTING S.A</a>
                <button class="nav-toggle">
                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                        <!--! Font Awesome Free 6.4.2 by fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                        <style>
                            svg {
                                fill: #ffffff
                            }</style>
                        <path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z" />
                    </svg>
                </button>
                <ul class="nav-menu">
                    <li class="nav-item"><a asp-area="" class="nav-link" asp-controller="Home" asp-action="Privacy">Home</a></li>
                    <li class="nav-item"><a asp-area="" class="nav-link" asp-controller="User" asp-action="Index">Usuarios</a></li>
                    <li class="nav-item"><a asp-area="" class="nav-link" asp-controller="Role" asp-action="ListRoles">Roles</a></li>
                    <li class="nav-item"><a asp-area="" class="nav-link" asp-controller="Account" asp-action="Register">Registrar</a></li>
                    <li class="nav-item"><a asp-area="" class="nav-link" asp-controller="Mensaje" asp-action="Index">Bandeja</a></li>
                    <li class="nav-item"><a asp-area="" class="nav-link" asp-controller="Mensaje" asp-action="SeleccionarUsuario">Mensajes</a></li>
                    <li class="nav-item"><a asp-area="" class="nav-link" asp-controller="Nomina" asp-action="Seleccionar">Nomina</a></li>
                    <li class="nav-item"> <a asp-area="" class="nav-link" asp-controller="Account" asp-action="Logout">Cerrar Sesion</a> </li>
                </ul>
            </nav>
        </header>
    }
@{
    var errorMessage = TempData["ErrorMessage"] as string;
}

@{
    ViewData["Title"] = "Nomina";
    string estilos = "~/css/General.css";
}

@section Estilos
    {
 <link rel="stylesheet" type="text/css" href="@estilos" />
 }


<div class="nomina-sub-body">

    <div class="select-employee">
            <label>Seleccione un empleado</label>
        <select disabled id="GetUsuarios">
                 <option value="">@Model.Nombres</option>
            </select>
            <label>Rango de fecha</label>
        <input type="date" readonly class="select-date" value="@Model.INICIO.ToString("yyyy-MM-dd")"  id="fecha-inicio">
        <input type="date" readonly class="select-date" value="@Model.FINAL.ToString("yyyy-MM-dd")"  id="fecha-fin">
        <button>  <a asp-controller="Nomina" asp-action="Select" class="btn btn-primary">Seleccionar Otro Usuario</a> </button>

    </div>

    <div class="payroll-user-content" id="userInfo">
          <form asp-controller="Nomina" asp-action="Nomina" method="POST" enctype="multipart/form-data">
        <div class="payroll-content-section-1">
              <table class="user-data-payroll-table">
                        <thead>
                            <tr>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                                <th>Dpi</th>
                                <th>Puesto</th>
                                <th>Departamento</th>
                                <th>Salario Base</th>
                                <th>Horas laboradas</th>
                                <th>Precio de hora</th>
                                <th>Salario total</th>
                            </tr>
                        </thead>
                        <tr>
                    <td class="">@Model.Nombres</td> 
                    <input asp-for="Nombres" value="@Model.Nombres" name="Nombres" hidden/>
                    <td class="">@Model.Apellidos</td>
                        <input asp-for="Apellidos" name="Apellidos" value="@Model.Apellidos" hidden />
                    <td class="">@Model.CUI</td>
                    <input value="@Model.CUI" asp-for="CUI" name="CUI" hidden/>
                        <input value="@Model.AppUserId" asp-for="AppUserId" name="AppUserId" hidden />
                    <td class="">@Model.Puesto</td>
                        <input value="@Model.Puesto" asp-for="Puesto" name="Puesto" hidden />
                    <td class="">@Model.Departamento</td>
                        <input value="@Model.Departamento" asp-for="Departamento" name="Departamento" hidden />
                        <td><label class="" for="" id="salario-base">@Model.Salario</label></td>               
                        <input value="@Model.Salario" asp-for="Salario" name="Salario" hidden />
                            <td><input asp-for="HorasLaboradas" name="HorasLaboradas" type="number" class="input-hours-work" id="input-hours-calc"></td>
                            <td><label id="result-price-hours-work"></label></td>                               
                            <td><label id="salary-to-receive"></label></td>
                        </tr>
                    </table>
        </div>

        <div class="payroll-benefits-content">
            <table class="payroll-benefits">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th colspan="2">Horas Extra</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>

                    </tr>
                    <tr>
                        <th>Sueldo</th>
                        <th>Precio Horas</th>
                        <th>Numero horas extra</th>
                        <th>Precio Hora Extra</th>
                        <th>Ventas</th>
                        <th>Produccion</th>
                        <th>Comisiones</th>
                        <th>Bonificaciones</th>
                        <th>Total devengado</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><label class="" id="salary"></label></td>
                        <td><label id="hours-ordinary-price">0</label></td>
                        <td><label id="number-hours-extra">@Model.HorasExtras</label></td>
                            <input asp-for="HorasExtras" hidden type="text" name="HorasExtras"  id="HorasExtras" />
                        <td><label id="hour-extra-price">0</label></td>
                            <input asp-for="PrecioHoraExtra" hidden type="text" name="PrecioHoraExtra" id="PrecioHoraExtra" />
                        <td><label id="sells-monts">0</label></td>
                            <input asp-for="Ventas" hidden type="text" name="Ventas" id="Ventas" />
                        <td><label id="producrion-monts">0</label></td>
                            <input asp-for="Produccion" hidden type="text" name="Produccion" id="Produccion" />
                        <td><label id="benefits-monts">0</label></td>
                            <input asp-for="Comisiones" hidden type="text" name="Comisiones" id="Comisiones" />
                        <td><label id="law-bonus">250</label></td>
                            <input asp-for="Bonificaciones" hidden type="text" name="Bonificaciones" id="Bonificaciones" />
                        <td><label id="sub-total-salary">0</label></td>
                            <input asp-for="TotalDevengado" hidden type="text" name="TotalDevengado" id="TotalDevengado" />

                    </tr>
                </tbody>
            </table>

            <div class="discounts-content">
                <table class="discounts-table">
                    <caption> Descuentos</caption>
                    <thead>
                        <tr>
                            <th>IGSS</th>
                            <th>ISR</th>
                            <th>Anticipos</th>
                            <th>Prestamo</th>
                            <th>Total descuentos</th>
                            <th>Total Liquido</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><label id="iggs-share">0</label></td>
                                <input asp-for="IgssUsuario" hidden type="text" name="IgssUsuario" id="IgssUsuario" />
                            <td><label id="isr-share">0</label></td>
                                <input asp-for="ISR" hidden type="text" name="ISR" id="ISR" />
                            <td><label id="advance">0</label></td>
                                <input asp-for="Anticipo" hidden type="text" name="Anticipo" id="Anticipo" />
                            <td><label id="loan-share">0</label></td>
                                <input asp-for="Prestamo" hidden type="text" name="Prestamo" id="Prestamo" />
                            <td><label id="total-discounts">0</label></td>
                                <input asp-for="TotalDescuentos" hidden type="text" name="TotalDescuentos" id="TotalDescuentos" />
                            <td><label id="liquid-total">0</label></td>
                                <input asp-for="TotalLiquido" hidden type="text" name="TotalLiquido" id="TotalLiquido" />
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        

        <div class="employer-fee-content">
            <div class="employer-fee-container">
                <table class="employer-fee-table">
                    <caption>Cuota Patronal</caption>
                    <thead>
                        <tr>
                            <th>Sueldo</th>
                            <th>valor por hora</th>
                            <th>IGSS</th>
                            <th>IRTRA</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><label id="salary-employer-table"></label></td>
                        <input hidden asp-for="CuotaPatronal.Sueldo" type="text" name="CuotaPatronal.Sueldo" id="CuotaPatronalSueldo" />
                            <td><label id="price-for-hour"></label></td>                        
                            <td><label id="iggs-employer-share"></label></td>
                        <input hidden asp-for="CuotaPatronal.IGSS" type="text" name="CuotaPatronal.IGSS" id="CuotaPatronalIGSS" />
                            <td><label id="irtra-employer-share"></label></td>
                        <input hidden asp-for="CuotaPatronal.IRTRA"  type="text" name="CuotaPatronal.IRTRA" id="CuotaPatronalIRTRA" />
                        </tr>
                    </tbody>
                </table>
                    <div class="button-1">
                        <button class="submit-buttons" type="submit">Submit</button>
                    </div>
                </div>
        </form>
    </div>


    <div class="pays-data">
        <table class="tabla-sueldos" id="tabla-sueldos">
            <caption>Tabla de Sueldos Anuales</caption>
            <thead>
                <tr>
                    <th>Enero</th>
                    <th>Febrero</th>
                    <th>Marzo</th>
                    <th>Abril</th>
                    <th>Mayo</th>
                    <th>Junio</th>
                    <th>Julio</th>
                    <th>Agosto</th>
                    <th>Septiembre</th>
                    <th>Octubre</th>
                    <th>Noviembre</th>
                    <th>Diciembre</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><label>@Model.SueldoEnero</label></td>
                    <td><label>@Model.SueldoFebrero</label></td>
                    <td><label>@Model.SueldoMarzo</label></td>
                    <td><label>@Model.SueldoAbril</label></td>
                    <td><label>@Model.SueldoMayo</label></td>
                    <td><label>@Model.SueldoJunio</label></td>
                    <td><label>@Model.SueldoJulio</label></td>
                    <td><label>@Model.SueldoAgosto</label></td>
                    <td><label>@Model.SueldoSeptiembre</label></td>
                    <td><label>@Model.SueldoOctubre</label></td>
                    <td><label>@Model.SueldoNoviembre</label></td>
                    <td><label>@Model.SueldoDiciembre</label></td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="commissions-content">
        <table class="commissions-table" id="commissions-table">
            <caption>Tabla de Comisiones Anuales</caption>
            <thead>
                <tr>
                    <th>Enero</th>
                    <th>Febrero</th>
                    <th>Marzo</th>
                    <th>Abril</th>
                    <th>Mayo</th>
                    <th>Junio</th>
                    <th>Julio</th>
                    <th>Agosto</th>
                    <th>Septiembre</th>
                    <th>Octubre</th>
                    <th>Noviembre</th>
                    <th>Diciembre</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><label>@Model.ComisionesEnero</label></td>
                    <td><label>@Model.ComisionesFebrero</label></td>
                    <td><label>@Model.ComisionesMarzo</label></td>
                    <td><label>@Model.ComisionesAbril</label></td>
                    <td><label>@Model.ComisionesMayo</label></td>
                    <td><label>@Model.ComisionesJunio</label></td>
                    <td><label>@Model.ComisionesJulio</label></td>
                    <td><label>@Model.ComisionesAgosto</label></td>
                    <td><label>@Model.ComisionesSeptiembre</label></td>
                    <td><label>@Model.ComisionesOctubre</label></td>
                    <td><label>@Model.ComisionesNoviembre</label></td>
                    <td><label>@Model.ComisionesDiciembre</label></td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="save-horas-extra">
        <table class="hours-extra-table" id="hours-extra-table">
            <caption>Tabla de horas extras Anuales</caption>
            <thead>
                <tr>
                    <th>Enero</th>
                    <th>Febrero</th>
                    <th>Marzo</th>
                    <th>Abril</th>
                    <th>Mayo</th>
                    <th>Junio</th>
                    <th>Julio</th>
                    <th>Agosto</th>
                    <th>Septiembre</th>
                    <th>Octubre</th>
                    <th>Noviembre</th>
                    <th>Diciembre</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><label>@Model.HoraEnero</label></td>
                    <td><label>@Model.HoraFebrero</label></td>
                    <td><label>@Model.HoraMarzo</label></td>
                    <td><label>@Model.HoraAbril</label></td>
                    <td><label>@Model.HoraMayo</label></td>
                    <td><label>@Model.HoraJunio</label></td>
                    <td><label>@Model.HoraJulio</label></td>
                    <td><label>@Model.HoraAgosto</label></td>
                    <td><label>@Model.HoraSeptiembre</label></td>
                    <td><label>@Model.HoraOctubre</label></td>
                    <td><label>@Model.HoraNoviembre</label></td>
                    <td><label>@Model.HoraDiciembre</label></td>
                </tr>

            </tbody>
        </table>
        <div class="payroll-options">
            <button onclick=functions_validated_nomina()>Generar Nomina</button>
            <button onclick=vaciar_nomina()>Vacia Nomina</button>
        </div>
    </div>
</div>




</div>

    </div>
<script>
    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <text>
            // Muestra una alerta con el mensaje de error
            alert('@errorMessage');
        </text>
    }
</script>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/usuarios.js"></script>