@using Microsoft.AspNetCore.Identity;
@using ProyectoFinal.ViewModels
@model List<VerBono14ViewModel>


@inject UserManager<AppUser> UserManager

@{
    var userName = User.Identity.Name;
    var userId = "";
    var userCUI = "";
    if (!string.IsNullOrEmpty(userName))
    {
        var user = await UserManager.FindByNameAsync(userName);
        if (user != null)
        {
            userId = user.Id;
            userCUI = user.CUI;
        }
    }

}

@{
    ViewData["Title"] = "Bono14";
    string estilos = "~/css/General.css";
}

@section Estilos
    {
    <link rel="stylesheet" type="text/css" href="@estilos" />
}
@section Header
    {
    <div class="container">
        <header class="header">
            <nav class="nav-bar">
                <a class="logo" href="#">CONSULTING S.A</a>
                <button class="nav-toggle">
                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                        <!--! Font Awesome Free 6.4.2 by fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                        <style>
                            svg {
                                fill: #ffffff
                            }</style>
                        <path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z" />
                    </svg>
                </button>
                <ul class="nav-menu">
                    <li class="nav-item"><a asp-area="" class="nav-link" asp-controller="Home" asp-action="Privacy">Home</a></li>
                    <li class="nav-item"><a asp-area="" class="nav-link" asp-controller="User" asp-action="Index">Usuarios</a></li>
                    <li class="nav-item"><a asp-area="" class="nav-link" asp-controller="Role" asp-action="ListRoles">Roles</a></li>
                    <li class="nav-item"><a asp-area="" class="nav-link" asp-controller="Account" asp-action="Register">Registrar</a></li>
                    <li class="nav-item"><a asp-area="" class="nav-link" asp-controller="Mensaje" asp-action="Index">Bandeja</a></li>
                    <li class="nav-item"><a asp-area="" class="nav-link" asp-controller="Mensaje" asp-action="SeleccionarUsuario">Mensajes</a></li>
                    <li class="nav-item"><a asp-area="" class="nav-link" asp-controller="Nomina" asp-action="Seleccionar">Nomina</a></li>
                    <li class="nav-item"><a asp-area="" class="nav-link" asp-controller="Nomina" asp-action="Usuarios">Detalles</a></li>
                    <li class="nav-item"> <a asp-area="" class="nav-link" asp-controller="Account" asp-action="Logout">Cerrar Sesion</a> </li>
                </ul>
            </nav>
        </header>
    }
@if (TempData["Error"] != null)
{
        <div class="col-md-12 alert alert-danger">
            <span><b>Sorry!</b> - @TempData["Error"] </span>
        </div>
}

    <div class="sub-container-consult">
        <div class="sub-body-container-consult">
            <div class="consult-tittle">
                <h2>Bono 14</h2>
            </div>
            <div class="user-list">
                <table class="user-table">
                    <thead>
                        <tr>
                            <th>CUI</th>
                            <th>Total Salarios</th>
                            <th>Promedio Salarios</th>
                            <th>Total de comisiones</th>
                            <th>Promedio de comisiones</th>

                            <th>Salario mas comisiones</th>
                            <th>Dias Laborados</th>
                            <th>Bono 14</th>
                            <th>Fecha 14</th>
                        </tr>
                    </thead>
                    <tbody class="user-table-body">
                    @foreach (var item in Model)
                    {
                            <tr>
                                <td>@item.CUI</td>
                                <td>@item.TotalSalarios</td>
                                <td>@item.PromedioSalario</td>
                                <td>@item.TotalComisiones</td>
                                <td>@item.PromedioComisiones</td>
                                <td>@item.SalarioAdicionalComisiones</td>
                                <td>@item.DiasLaborados</td>
                                <td>@item.Bono14Total</td>
                                <td>@item.Fecha</td>
                            </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
